<header>
    <div class="wm-banner">
        <div class="jumbotron wm-jumbotron">
            <span class="wm-banner-logo">
                <h1>{{siteName}}</h1>
                <p class="text-primary">{{siteText}}</p>
            </span>
            <span class="wm-banner-field-group">
                <input wm-debounce ng-model="address" ng-change="lookupLocation()" type="text" placeholder="Where are you?" autofocus />
            </span>
        </div>
        <p class="wm-location">Location: <small>{{location.name}}</small></p>
    </div>
</header>
<section>
    <div ng-show="weather">
        <nav class="navbar navbar-default wm-navbar" role="navigation">
            <div class="navbar-header wm-navbar-header">
                <div class="navbar-left">
                    <button type="button" class="btn btn-default navbar-btn" ng-click="isFiltersCollapsed = !isFiltersCollapsed">Filters</button>
                </div>
            </div>
            <div class="wm-navbar-filters" collapse="isFiltersCollapsed">
                <form class="navbar-form navbar-left wm-navbar-form" role="search">
                    <div class="form-group wm-form-group">
                        <span class="wm-form-control">
                            <label for="maxTemperature"><small>Max Temperature</small> {{query.maxTemperature}}&deg;</label>
                            <span class="wm-range-input">
                                <input id="maxTemperature" type="range" ng-model="query.maxTemperature" min="-50" max="125">
                            </span>
                        </span>
                        <span class="wm-form-control">
                            <label for="minTemperature"><small>Min Temperature</small> {{query.minTemperature}}&deg;</label>
                            <span class="wm-range-input">
                                <input id="minTemperature" type="range" ng-model="query.minTemperature" min="-50" max="125">
                            </span>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="panel wm-panel col-md-4 col-sm-6 col-xs-12" ng-repeat="day in weather.days | filter:weatherFilter:maxTemperature">
                    <span class="panel-heading wm-weather-heading">
                        <span class="wm-dow">
                            {{day.date.dayOfWeek}}
                            <span class="wm-date">{{day.date.month}}&nbsp;{{day.date.day}}</span>
                        </span>
                    </span>
                    <span class="panel-body clearfix wm-weather-body">
                        <span class="wm-weather-imagery">
                            <img class="wm-weather-icon img-responsive" ng-src="{{day.imageUrl}}" />
                        </span>
                        <span class="wm-weather-details">
                            <p class="lead">{{day.temperatureMax}}&deg;</p>
                            <p class="wm-weather-detail">Min: {{day.temperatureMin}}&deg;</p>
                            <p class="wm-weather-detail">Humidity: {{day.humidity}}%</p>
                            <p class="wm-weather-detail">Wind: {{day.windSpeed}} mph</p>
                            <p class="wm-weather-detail">Chance of Precipitation: {{day.precipProbability}}%</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


